<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Actions</key>
    <array>
        <dict>
            <key>Image File</key>
            <string>searchicon.png</string>
            <key>Regular Expression</key>
            <string>(?s)^.{1,1900}$</string>
            <key>Title</key>
            <string>DuckDuckGo</string>
            <key>URL</key>
            <string>https://duckduckgo.com/?q={popclip text}</string>
        </dict>
    </array>
    <key>Extension Identifier</key>
    <string>com.braincrafted.popclip.extension.duckduckgo</string>
    <key>Extension Description</key>
    <string>Search DuckDuckGo with selected text.</string>
    <key>Extension Name</key>
    <string>DuckDuckGo</string>
    <key>Version</key>
    <integer>1</integer>
</dict>
</plist>