<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Actions</key>
    <array>
        <dict>
            <key>Image File</key>
            <string>openinst.png</string>
            <key>Shell Script File</key>
            <string>openinst.sh</string>
            <key>Title</key>
            <dict>
                <key>en</key>
                <string>Sublime Text</string>
            </dict>
            <key>Requirements</key>
            <array>
                <string>path</string>
            </array>
        </dict>
    </array>
    <key>Extension Description</key>
    <dict>
        <key>en</key>
        <string>Open the selected file in Sublime Text</string>
    </dict>
    <key>Extension Identifier</key>
    <string>ec.florian.popclip.extension.openinst</string>
    <key>Extension Name</key>
    <dict>
        <key>en</key>
        <string>Sublime Text</string>
    </dict>
    <key>Version</key>
    <integer>3</integer>
</dict>
</plist>
